In [2]:
print('hello')

hello

In [5]:
''.join(['일', '이', '삼'])

'일이삼'

In [8]:
dir('hello') #dir은 객체가 갖고 있는 기능들이 출력됨

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 문자열 메소드(객체 안의 함수)

In [16]:
a = 'hello my name is hojin'

In [14]:
# 문자열은 immutable하기 때문에 수정 불가능
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [23]:
a = a.capitalize() #첫 번째 글자를 대문자로 바꿔줌, 원본 데이터a는 string이라 바뀌지 않았기에 다시 a에 대입해야함 대문자로 바뀐 return값만 준 것
print(a)

Hello my name is hojin

In [22]:
a.title() #시작하는 글자 대문자로 
print(a)

Hello my name is hojin

In [25]:
a.upper()

'HELLO MY NAME IS HOJIN'

In [26]:
a.lower()

'hello my name is hojin'

In [27]:
print(a)

Hello my name is hojin

In [29]:
my_list = ['hi', 'my', 'name']
'??'.join(my_list)

'hi??my??name'

In [37]:
# .strip([chars]) # 대괄호는 넣어도 되고 안넣어도 되는 의미

my_string = '         hello\n       ' #\n은 엔터의 기능
print(my_string)
print(my_string.strip()) #공백(엔터, 띄어쓰기 등)들을 일괄처리

my_string2 = 'hihihihihihihihihihihellohihi'
print(my_string2.strip('hi')) #반복되는 것을 지운다
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

         hello

hello
ello
ellohihi
hihihihihihihihihihihello

In [42]:
# .replace(old, new[, count])
a = 'woooooooow'
a.replace('o', '!', 3)

'w!!!ooooow'

In [49]:
# .find(x)
a = 'apple'
print(a.find('p')) #앞부터 검색해서 첫번째것의 위치를 출력해줌
print(a.find('z')) #없는 데이터면 -1로 출력

for i in range(len(a)):
    if 'p' == a[i]:
        print(i)
        break
else:
    print(-1)

1
-1
1

In [52]:
# .index(x)
a = 'apple'
print(a.index('a'))
print(a.index('z')) #없는 데이터 검색시 에러

0

ValueError: substring not found

In [56]:
# .split(x)
a = 'my_name_is'
a.split('_') # 쪼개고 하나의 리스트로 만들어줌

['my', 'name', 'is']

In [57]:
# .count(x)
'wooooooow'.count('o')

7

# 리스트 메소드

In [86]:
numbers = [1, 2, 6, 4, 2, 1]

In [78]:
# .append(x)
numbers.append(10)
print(numbers)

[1, 2, 6, 4, 2, 1, 10]

In [79]:
# .extend(iterable)
a = [99, 100]

numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 2, 6, 4, 2, 1, 10, 99, 100]
[1, 2, 6, 4, 2, 1, 10, 99, 100, 99, 100]

In [80]:
# .insert(idx, x)
numbers.insert(3, 3.5)
print(numbers)

[1, 2, 6, 3.5, 4, 2, 1, 10, 99, 100]

In [81]:
# .remove(x)
numbers.remove(3.5) #지우고자 하는 데이터가 없으면 에러
print(numbers)

[1, 2, 6, 4, 2, 1, 10, 99, 100]

In [84]:
# .pop([idx])
numbers.pop() # 맨뒤의 데이터가 삭제됨
print(numbers)

numbers.pop(0) # 원본도 바꾸고 return도 함
print(numbers)

[6, 4, 2]
[4, 2]

In [85]:
num = numbers.pop()
print(num)

2

In [95]:
# .sort
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
print(numbers)

print(numbers.sort()) #원본을 수정하고 리턴되는 값이 없음, sort는 numbers가 가지고 있는 기능

print(numbers)

numbers.sort(reverse=True)
print(numbers)

[1, 6, 2, 1, 3, 2, 7, 10]
None
[1, 1, 2, 2, 3, 6, 7, 10]
[10, 7, 6, 3, 2, 2, 1, 1]

In [96]:
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
print(sorted(numbers))
print(numbers)

[1, 1, 2, 2, 3, 6, 7, 10]
[1, 6, 2, 1, 3, 2, 7, 10]

In [98]:
# reverse()
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
print(numbers)
numbers.reverse()
print(numbers)
numbers = numbers[  :  : -1 ]
print(numbers)

[1, 6, 2, 1, 3, 2, 7, 10]
[10, 7, 2, 3, 1, 2, 6, 1]
[1, 6, 2, 1, 3, 2, 7, 10]

In [100]:
numbers = [1, 6, 2, 1, 3, 2, 7, 10]
numbers = numbers[  :  : -1 ] #1부터 반대로 나열됨
print(numbers)

[10, 7, 2, 3, 1, 2, 6, 1]

## list copy

In [101]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [102]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [103]:
copy_list[0] = 100

In [104]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [106]:
a = [1, 2, 3]
#b= list(a)
b = a[:]

b[0] = 100 

print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [107]:
a = [   1,    2,   [99, 100]   ]
b = a[:] # b = list(a)

b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 1000]]
[1, 2, [99, 1000]]

In [108]:
import copy
a = [1, 2, [99,100]]
b = copy.deepcopy(a)

b[2][1] = 1000

print(a)
print(b)

[1, 2, [99, 100]]
[1, 2, [99, 1000]]

## list comprehension -> 대괄호 안에서만 작동

In [110]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
#[1, 8, 27...1000] => 세제곱 만들기
result = []

for number in numbers:
    result.append(number ** 3)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [112]:
result2 = [number **3 for number in numbers ]
print(result2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [113]:
# 짝수만 고르기
even_list = []
for number in numbers:
    if number % 2 ==0:
        even_list.append(number)

print(even_list)

[2, 4, 6, 8, 10]

In [114]:
#짝수만 고르기(list comprehension)
even_list2 = [number for number in numbers if number % 2 == 0]
print(even_list2)

[2, 4, 6, 8, 10]

In [123]:
words = 'my name is hong'
vowels = 'aeiou'

# => my nm s hng

In [133]:
# 1. for문 
words = 'my name is hong'
vowels = 'aeiou'
result = ''
for word in words:
    if word not in vowels:
        result += word
print(result)

##강사님거 
result = []
for char in words:
    if char not in vowels:
        result.append(char)
print(result)
print(''.join(result))

my nm s hng
['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [135]:
#2. list comprehension
result = [word for word in words if word not in vowels]
print(''.join(result))

#강사님 풀이
result = [char for char in words if char not in vowels]
print(''.join(result))

my nm s hng
my nm s hng

## 딕셔너리 메소드

In [153]:
info = {
    'name' : 'hojin',
    'location' : 'seoul',
}

In [140]:
info['name'] = 'kim'
print(info)

{'name': 'kim', 'location': 'seoul'}

In [154]:
# .pop(key,[, default])
print(info)
print(info.pop('location')) # 지운 데이터가 뭔지 알려줌

print(info)
print(info.pop('location', None)) # 지우고 그 자리에 출력할 값 입력

{'name': 'hojin', 'location': 'seoul'}
seoul
{'name': 'hojin'}
None

In [155]:
# .update()
info.update(name='park')
print(info)

{'name': 'park'}

In [161]:
# .get(key[, default])
print(info.get('name'))
print(info.get('phone')) #-> 없는 값을 찾으면 none출력
# info['phone']-> 없는 값을 찾으면 에러
print(info.get('phone', '해당키가 없습니다.'))

park
None
해당키가 없습니다.

## dict comprehension

In [162]:
# for
#{1: 1, 2: 8, 3: 9...........}
result = {}
numbers = range(1,11)
for number in numbers:
    result[number] = number ** 3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [163]:
# comp
result2 = { number: number ** 3 for number in numbers}
print(result2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [164]:
dust = {
    '서울' : 100,
    '대구' : 30,
    '부산' : 50,
    '광주' : 80,
    '제주' : 20,
}

# # result ={
#     '서울' : 100,
#     '부산' : 50,
#     '광주' : 80,
# }

In [171]:
dust = {
    '서울' : 100,
    '대구' : 30,
    '부산' : 50,
    '광주' : 80,
    '제주' : 20,
}
result = {}
for k, v in dust.items():
    if 50 <= v:
        result[k]= v
print(result)

{'서울': 100, '부산': 50, '광주': 80}

In [172]:
# 2. campk,
result2 = {k: v for k, v in dust.items() if v >= 50}
print(result2)

{'서울': 100, '부산': 50, '광주': 80}

In [173]:
result2 = {k: '나쁨' for k, v in dust.items() if v >= 50}
print(result2)

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

## 세트 메소드 -> 순서가 보장되어있지않음

In [179]:
fruits = {'apple', 'banana', 'melon'}

In [177]:
# .add(x)
fruits.add('watermelon') 
print(fruits)
fruits.add('watermelon') 
print(fruits)

{'apple', 'watermelon', 'melon', 'banana'}
{'apple', 'watermelon', 'melon', 'banana'}

In [183]:
# .update({set})
fruits.update({'grape', 'orange'})
print(fruits)

{'apple', 'e', 'melon', 'grape', 'r', 'p', 'orange', 'banana', 'g', 'a'}

In [184]:
# .remove(x)
fruits.remove('orange')
print(fruits)

{'apple', 'e', 'melon', 'grape', 'r', 'p', 'banana', 'g', 'a'}

In [185]:
# .pop()
fruits.pop()
print(fruits)

{'e', 'melon', 'grape', 'r', 'p', 'banana', 'g', 'a'}

## map, filter, zip

- map(function, iterable)

In [186]:
a = [1, 2, 3]
number_str = map(str, a)
print(number_str)
print(list(number_str))

<map object at 0x000001C2B708B670>
['1', '2', '3']

In [187]:
def cube(x):
    return x ** 3

print(cube(5))
print(cube(10))

125
1000

In [188]:
result = []
for i in a:
    result.append(i ** 3)

print(result)

[1, 8, 27]

In [190]:
result2 = map(cube, a) # 큐브라는 함수를 인자로 넣은 것
print(list(result2))

[1, 8, 27]

In [196]:
a = '1 3 5 7 9'
numbers = list(map(int, a.split()))
print(numbers)

[1, 3, 5, 7, 9]

- filter(function, iterable)
filter에 들어가는 function은 T/F를 반환해야 합니다.

In [207]:
def is_odd(x):
    if x % 2 == 1:
        return True
    else:
        return False
    
    # = return bool(x % 2)

print(is_odd(5))
print(is_odd(10))

True
False

In [204]:
numbers = [1, 2, 3, 4, 5]

In [205]:
# for
result = []
for number in numbers:
    if is_odd(number):
        result.append(number)

print(result)

[1, 3, 5]

In [206]:
result2 = filter(is_odd, numbers)
print(list(result2))

[1, 3, 5]

- zip

In [208]:
a = [1, 2, 3]
b = [100, 200, 300]

In [209]:
result = zip(a,b)
print(result)
print(list(result))

<zip object at 0x000001C2B75062C0>
[(1, 100), (2, 200), (3, 300)]